html {
  font-family: 'YaldeviColombo', serif;
  font-size: 16px;
  min-height: 100vh;
  background-color: #333745;
  color: #ffffff; }

body {
  margin: 0;
  padding: 0; }

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-content {
  margin: auto;
  text-align: center;
  padding: 20px; }

.main-content .app-title {
  font-size: 2.5rem; }

.main-content .kunadliya-description {
  max-width: 786px;
  margin: auto; }

.main-content .kundaliya {
  font-size: 3rem;
  margin: 9px; }

.main-content .app-description-text {
  color: #333745;
  background-color: #F6F792;
  padding: 2px 6px;
  font-size: 1.2rem; }

.main-content .signin-container .signin-text {
  margin-bottom: 10px;
  margin-top: 5px; }

.main-content .signin-container .signin-btn {
  padding: 9px 28px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 30px;
  color: #fff;
  margin: 4px;
  outline: 0;
  cursor: pointer; }

.main-content .signin-container .signin-btn .fa {
  margin-right: 7px; }

.main-content .signin-container .signin-btn.google {
  border: 2px solid #dd4b39; }

.main-content .signin-container .signin-btn.facebook {
  border: 2px solid #3b5998; }

.main-content .signin-container .signin-btn.github {
  border: 2px solid #111111; }

.main-content .dropzone {
  cursor: pointer;
  border: 2px dashed #EA2E49;
  padding: 20px;
  margin-top: 19px;
  min-height: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main-content .dropzone p {
  text-align: center;
  margin: auto; }

.main-content .dropzone-active {
  border: 2px dashed #77C4D3; }

.main-content .drop-actions button {
  background: none;
  border: 2px solid #fff;
  outline: none;
  width: 152px;
  padding: 6px;
  border-radius: 26px;
  color: #fff;
  margin: 0 10px;
  cursor: pointer; }

.main-content .drop-actions .upload button {
  border: 2px solid #F6F792;
  color: #F6F792; }

.main-content .drop-actions .clear {
  border: 2px solid #dddddd;
  color: #dddddd; }

.main-content .file-preview {
  width: 100%;
  margin: 16px 0;
  overflow: hidden; }

.main-content .file-preview .file-preview-box {
  width: 120px;
  float: left; }

.main-content .file-preview .file-details {
  width: calc(100% - 140px);
  float: left;
  padding-left: 20px; }

.main-content .file-preview .file-details .file-form input,
.main-content .file-preview .file-details .file-form textarea {
  width: 100%;
  background: transparent;
  border: none;
  margin-bottom: 11px;
  border-bottom: 2px solid #ffffff;
  padding: 7px;
  outline: 0;
  color: #fff;
  font-family: 'YaldeviColombo', serif; }

.main-content .file-preview img {
  width: 100%; }

.main-content .logout {
  margin-top: 20px;
  background: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer; }

.error-box {
  color: #333745;
  padding: 15px;
  text-align: center;
  border-radius: 5px; }

.error-box h4 {
  margin: 0;
  font-size: 1.5rem; }

.error-box button {
  padding: 6px 44px;
  background: none;
  border: 1px solid #333745;
  cursor: pointer; }

.gallery img {
  height: 360px; }
