@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'YaldeviColombo';
  src: url("../fonts/yaldevi_colombo/YaldeviColombo-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }
